:root {
  --color-a-blue-500: #2055cc;
  --color-a-red-500: #e0001a;
  --color-a-red-300: #ff7081;
  --color-a-yellow-500: #f6a800;
  --color-a-yellow-400: #ffb924;
  --color-a-yellow-200: #ffdf99;
  --color-a-yellow-100: #fdeed5;
  --color-a-convert-300: #14ffa7;
  --color-a-convert-500: #19cd89;
  --color-a-modeules-ccadency: #8c1db1;
  --color-a-cold-gray-900: #02182b;
  --color-a-cold-gray-800: #032949;
  --color-a-cold-gray-700: #143d5f;
  --color-a-cold-gray-600: #3c617f;
  --color-a-cold-gray-500: #6b879e;
  --color-a-cold-gray-400: #b0c4d5;
  --color-a-cold-gray-200: #eef5fb;
  --color-a-cold-gray-150: #f6fafd;
  --color-a-cold-blue-100: #e1e7f9;
  --color-a-cold-gray-1000: #ffffff;

  --menu-container-background-color: var(--color-a-cold-gray-150);
  --menu-container-header-background-color: var(--color-a-cold-blue-100);
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --ai-text-gradient: linear-gradient(-45deg, #eb1055, #e5d630, #19cd89);
  --component-primary-color: var(--color-a-cold-gray-900);
  --component-small-title-color: var(--color-a-cold-gray-1000);
  --menu-container-header-color: var(--color-a-cold-gray-600);
  --component-label-background-color: #f6c049;
  --component-label-color: var(--color-a-cold-gray-900);
  --component-receipt-background-color: var(--color-a-cold-gray-200);
  --border-color: var(--color-a-cold-gray-400);
  --border-secondary-color: #2055cd;
  --dashed-border-color: var(--color-a-cold-gray-900);
  --component-system-name-background-color: var(--color-a-blue-500);
  --component-system-name-color: var(--color-a-cold-gray-1000);
  --component-receipt-highlight-color: var(--color-a-cold-gray-400);
}

.theme-dark {
  --menu-container-background-color: var(--color-a-cold-gray-900);
  --menu-container-header-background-color: var(--color-a-cold-blue-800);
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --ai-text-gradient: linear-gradient(-45deg, #eb1055, #e5d630, #19cd89);
  --component-primary-color: var(--color-a-cold-gray-1000);
  --component-small-title-color: var(--color-a-cold-gray-1000);
  --menu-container-header-color: var(--color-a-cold-gray-400);
  --component-label-background-color: #f6c049;
  --component-label-color: var(--color-a-cold-gray-900);
  --component-receipt-background-color: var(--color-a-cold-gray-700);
  --border-color: var(--color-a-cold-gray-600);
  --border-secondary-color: #4273e2;
  --dashed-border-color: var(--color-a-cold-gray-1000);
  --component-system-name-background-color: var(--color-a-blue-500);
  --component-system-name-color: var(--color-a-cold-gray-1000);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../module_background.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px auto;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--menu-container-header-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 7px 7px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
}

.text-align-right {
  text-align: right;
}

/* Style do poszczególnych modułów */
.menu-container__content__header-aiText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
  cursor: pointer;
}

.menu-container__content__header-aiText__text {
  font-size: 17px;
  font-weight: 500;
  background: var(--ai-text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container__content__small-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

.menu-container__content__small-title span {
  font-size: 14px;
  font-weight: 300;
  color: var(--component-primary-color);
}

.menu-container__content__label {
  background-color: var(--component-label-background-color);
  border-radius: 12px;
  padding: 4px 2px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
  color: var(--component-label-color);
}

.menu-container__content__label__edit-field {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  padding: 2px 6px;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-container__content__label__edit-field img {
  cursor: pointer;
}

.menu-container__content__label__edit-field span {
  line-height: 1;
}

.menu-container__content__label__edit-field:nth-child(2) {
  margin-top: 2px;
}

.menu-container__content__label__bottom-content {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.menu-container__content__label__bottom-content__vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  font-size: 20px;
  font-weight: 600;
}

.menu-container__content__label__bottom-content__price {
  font-size: 140px;
  line-height: 0;
  font-weight: 600;
}

.menu-container__content__label__bottom-content__price small {
  font-size: 52px;
  line-height: 1;
  font-weight: 600;
}

.menu-container__content__label__bottom-content__barcode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 12px;
}

.menu-container__content__label__bottom-content__barcode-container {
  display: flex;
  flex-direction: column;
}

.menu-container__content__label__bottom-content__barcode img {
  margin-left: 4px;
}
.menu-container__content__label__bottom-content__barcode__price {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.menu-container__content__label__bottom-content__barcode__price2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.menu-container__content__label__bottom-content__barcode__extra-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-container__content__label__bottom-content__barcode__barcode {
  margin-top: 4px;
}

.menu-container__content__receipt {
  background-color: var(--component-receipt-background-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  padding: 2px 12px;
  margin-top: 4px;
  color: var(--component-primary-color);
}

.menu-container__content__receipt__header__text {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.menu-container__content__receipt__table-header {
  margin-top: 12px;
}

.menu-container__content__receipt__table-row {
  margin-top: 4px;
}

.menu-container__content__receipt__table-header,
.menu-container__content__receipt__table-row {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  gap: 4px;
}

.menu-container__content__receipt__table-separator {
  border-top: 2px dashed var(--dashed-border-color);
}

.menu-container__content__receipt__table-row__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--component-receipt-highlight-color);
  padding: 2px 6px;
  border-radius: 7px;
}

.menu-container__content__receipt__table-row__name img {
  cursor: pointer;
}

.menu-container__content__receipt__footer-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  gap: 4px;
  margin-top: 2px;
}

.menu-container__content__system-name {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--component-system-name-background-color);
  padding: 2px 6px;
  border-radius: 7px;
  color: var(--component-system-name-color);
  font-size: 20px;
  font-weight: 600;
}

.menu-container__content__system-name svg {
  cursor: pointer;
}

.menu-container__content__receipt-ai-button {
  padding: 10px;
  background-color: var(--color-a-cold-gray-1000);
  border-radius: 12px;
  margin-top: 16px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-container__content__receipt-ai-button:hover {
  background-color: var(--color-a-cold-gray-200);
}

.menu-container__content__inputs-row {
  margin-top: 8px;
  display: grid;
  gap: 12px;
}

.menu-container__content__inputs-row:has(> :nth-child(2)) {
  grid-template-columns: 1fr 1fr;
}

.menu-container__content__inputs-row:not(:has(> :nth-child(2))) {
  grid-template-columns: 1fr;
}

.menu-container__content__inputs-row__input {
  width: 100%;
  margin-top: 4px;
}

.menu-container__content__inputs-row__input__input {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 8px;
}

.menu-container__content__inputs-row__input__input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--component-primary-color);
  background-color: transparent;
}

.menu-container__content__inputs-row__input__label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-a-cold-gray-500);
}
