:root {
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --primary-color: #e0001a;
  --outline-color: #2055cd;
  --error-color: #e0001a;
  --success-color: #00702c;
  --text-color: var(--color-a-cold-gray-900);
  --input-text-color: var(--color-a-cold-gray-800);
  --border-color: var(--color-a-cold-gray-400);
  --hightlight-text-color: #ffb924;
  --searcher-option-list-item-background-color: var(--color-a-cold-gray-400);
  --color-a-cold-gray-300: #d6e1ec;
  --footer-button-background-color: #940011;
  --footer-button-text-color: var(--color-a-cold-gray-1000);
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  min-width: 200px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  background-color: var(--color-a-cold-gray-100);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  margin: 12px auto;
}

.card-container__header {
  background-color: rgba(125, 125, 125, 0.5);
  min-height: 75px;
  border-radius: 8px 8px 0 0;
  background-image: url("background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-container__content {
  padding: 12px;
}

.card-container__content-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 12px;
}

.card-container__content li {
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 8px;
  color: #7a7a7a;
}
