:root {
  --color-a-blue-500: #2055cc;
  --color-a-red-500: #e0001a;
  --color-a-red-300: #ff7081;
  --color-a-yellow-500: #f6a800;
  --color-a-yellow-400: #ffb924;
  --color-a-yellow-200: #ffdf99;
  --color-a-yellow-100: #fdeed5;
  --color-a-convert-300: #14ffa7;
  --color-a-convert-500: #19cd89;
  --color-a-modeules-ccadency: #8c1db1;
  --color-a-cold-gray-900: #02182b;
  --color-a-cold-gray-800: #032949;
  --color-a-cold-gray-700: #143d5f;
  --color-a-cold-gray-600: #3c617f;
  --color-a-cold-gray-500: #6b879e;
  --color-a-cold-gray-400: #b0c4d5;
  --color-a-cold-gray-200: #eef5fb;
  --color-a-cold-gray-150: #f6fafd;
  --color-a-cold-blue-100: #e1e7f9;
  --color-a-cold-gray-1000: #ffffff;

  --border-color: var(--color-a-cold-gray-400);
  --dashboard-item-active-border-color: #87c2fb;
  --dashboard-item-active-background-color: #e4f1ff;
  --dashboard-item-title-icon-background-color: #b9defd;
  --primary-text-color: var(--color-a-cold-gray-900);
  --secondary-text-color: var(--color-a-cold-gray-500);
}

.dark {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.workspace-container__top-menu {
  background-color: var(--color-a-cold-gray-200);
  height: 50px;
  width: 100%;
}

.workspace-container__content {
  display: flex;
  height: 100%;
  width: 100%;
}

.workspace-container__content__left-menu {
  background-color: var(--color-a-cold-gray-200);
  min-height: calc(100vh - 82px);
  height: 100%;
  width: 50px;
}

.workspace-container__content__right-side {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.workspace-container__content__right-side__chat-left-side {
  border-right: 1px solid var(--border-color);
  width: 650px;
  height: 100%;
}

.workspace-container__content__right-side__chat-left-side__modules-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 12px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__title {
  font-size: 22px;
  font-weight: 200;
  color: var(--primary-text-color);
  flex: 1;
}

.workspace-container__content__right-side__chat-left-side__modules-title__collapse {
  cursor: pointer;
  background-color: #2055cd;
  color: #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__chat-icon {
  cursor: pointer;
  background-color: #98c4ec;
  color: #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.workspace-container__content__right-side__chat-left-side__modules-container {
  border-top: 1px solid var(--border-color);
}

.workspace-container__content__right-side__chat-left-side__modules-container__title {
  padding: 12px 12px 0 12px;
}

.workspace-container__content__right-side__chat-left-side__modules-container__title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules {
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--color-a-cold-gray-1000);
  cursor: pointer;
  gap: 8px;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module:hover {
  background-color: var(--color-a-cold-gray-200);
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__icon {
  aspect-ratio: 1/1;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.15);
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__name {
  flex: 1;
  font-weight: 400;
  font-size: 14px;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__stats {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__stats__item-default {
  background-color: var(--color-a-cold-gray-400);
  color: var(--color-a-cold-gray-1000);
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__stats__item-error {
  background-color: #ff5a97;
  color: var(--color-a-cold-gray-1000);
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.workspace-container__content__right-side__chat-left-side__modules-container__modules__module__stats__item-error
  img {
  margin-right: 3px;
  line-height: 1;
}

.workspace-container__content__right-side__chat-right-side {
  flex: 1;
}

.workspace-container__content__right-side__chat-right-side__chat-content {
  border-top: 1px solid var(--border-color);
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
}

.workspace-container__content__right-side__chat-left-side__modules-title__range_picker {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__range_picker__dropdown {
  background-color: var(--color-a-cold-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
  height: 100%;
  gap: 12px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__range_picker__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
  height: 100%;
  gap: 12px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__search
  input {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  padding: 0 12px;
  height: 100%;
}

.workspace-container__content__right-side__chat-left-side__modules-title__search {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 0 12px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace-container__content__right-side__chat-left-side__modules-title__search
  input:placeholder {
  color: var(--color-a-cold-gray-500);
  font-size: 14px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  height: 40px;
  border: 1px solid var(--border-color);
  gap: 12px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__switcher__item-left {
  background-color: var(--color-a-cold-gray-300);
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

.workspace-container__content__right-side__chat-left-side__modules-title__switcher__item-right {
  background-color: var(--color-a-cold-gray-1000);
  border-radius: 0 12px 12px 0;
  height: 100%;
  padding: 0 12px 0 0;
  display: flex;
  align-items: center;
}

.switcher__item-left-active {
  background-color: var(--color-a-red-500);
  color: var(--color-a-cold-gray-1000);
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container {
  padding: 0 12px;
  border-radius: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid var(--border-color);
}

.workspace-container__content__right-side__chat-left-side__modules-title__warning-container {
  padding: 0 12px;
  border-radius: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid var(--border-color);
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container__users {
  display: flex;
  align-items: center;
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container__users__user {
  background-color: #49dccb;
  color: #fff;
  aspect-ratio: 1/1;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  line-height: 0;
  padding-top: 3px;
  cursor: pointer;
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container__users__user:hover {
  background-color: #219b8d;
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container__users__user:not(
    :first-child
  ) {
  margin-left: -9px;
}

.workspace-container__content__right-side__chat-left-side__modules-title__assign-container__all-selector {
  border-left: 1px solid var(--border-color);
  padding-left: 12px;
  margin-left: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38a599;
  text-transform: uppercase;
  font-weight: 600;
}

.workspace-container__content__right-side__chat-left-side__modules-title__warning-text {
  border-left: 1px solid var(--border-color);
  padding-left: 12px;
  padding-top: 4px;
  margin-left: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5a97;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
}

.workspace-container__content__right-side__chat-right-side__chat-content__chat {
  height: 100%;
  flex: 1;
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../nomenklatura_bg+.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--color-a-cold-gray-600);
  border-radius: 8px 8px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--text-color);
}

.menu-container__content__title {
  font-size: 24px;
  font-weight: 200;
  color: var(--color-a-cold-gray-500);
}

.menu-container__content__item {
  background-color: var(--color-a-cold-gray-300);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.menu-container__content__item__header {
  background-color: var(--color-a-cold-gray-1000);
  border-radius: 12px 12px 0 0;
  padding: 8px;
  font-size: 18px;
  font-weight: 200;
  color: var(--color-a-cold-gray-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container__content__item__footer {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-a-cold-gray-600);
}

.menu-container__content__item__header__left,
.menu-container__content__item__header__right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-container__content__item__header__right {
  align-items: flex-end;
}

.menu-container__content__item__header__left__status__icon,
.menu-container__content__item__header__left__status img {
  width: 20px;
  height: 20px;
  background-color: var(--color-a-cold-gray-500);
  border-radius: 50%;
}
.menu-container__content__item__header__left__status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-container__content__item__header__left__status__text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-a-cold-gray-900);
}

.menu-container__content__item__header__left__status__product-name {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-a-cold-gray-500);
}

.menu-container__content__item__header__right__avatar {
  background-color: var(--color-a-cold-gray-500);
  color: var(--color-a-cold-gray-1000);
  aspect-ratio: 1/1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container__content__item__header__right__supplier-name {
  font-weight: 600;
  color: var(--color-a-cold-gray-500);
}

.menu-container__content__title:not(:first-child) {
  margin-top: 12px;
}

.menu-container__content__item {
  margin-top: 12px;
}

.chat-content__chat-item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px;
}

.chat-content__chat-item-container__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.chat-content__chat-item-container__item:not(:first-child) {
  margin-top: 24px;
}

.chat-content__chat-item-container__item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-content__chat-item-container__item__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-content__chat-item-container__item__content__header__labels {
  display: flex;
  align-items: center;
  gap: 4px;
}

.chat-content__chat-item-container__item__content__header__labels__label {
  background-color: var(--color-a-cold-gray-500);
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 9px !important;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  white-space: nowrap;
}

.chat-content__chat-item-container__item__content__header__labels__label__text {
  padding-top: 4px;
}

.chat-content__chat-item-container__item__content__body span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-a-cold-gray-700);
  line-height: 1.5;
}

.workspace-container__content__right-side__chat-right-side__chat-content__chat-files-products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-left: 12px;
  margin-bottom: -1px;
  margin-top: 6px;
}

.files-products__item-active {
  border-bottom: 2px solid var(--color-a-red-500);
}

.workspace-container__content__right-side__chat-right-side__chat-content__chat-files-products__item {
  padding: 0 24px;
}

.workspace-container__content__right-side__chat-right-menu {
  border-left: 1px solid var(--border-color);
  width: 350px;
  height: 100%;
}

.workspace-container__content__right-side__chat-left-side__document-viewer-container {
  padding: 12px;
}

.workspace-container__content__right-side__chat-left-side__document-viewer-container
  img {
  width: 100%;
}

.workspace-container__content__right-side__chat-right-side__container {
  margin: 12px;
  min-height: 500px;
  background-color: #f6fafd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.workspace-container__content__right-side__chat-right-side__container__header {
  background-color: #e4f1ff;
  color: var(--color-a-cold-gray-800);
  border-radius: 12px 12px 0 0;
  padding: 4px;
  text-align: center;
}

.container_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  margin: 12px 12px 0 12px;
}

.container_row_item {
  background-color: #fff;
  border-radius: 12px;
  padding: 8px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-a-cold-gray-500);
  border: 1px solid var(--border-color);
  gap: 4px;
  font-weight: bold;
}

.field_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field_container__label,
.workspace-container__content__right-side__chat-right-side__container__articles-list__label {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-a-cold-gray-600);
}

.container_row_item img {
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 12px;
}

.justify-center {
  justify-content: center;
}

.container_row_item__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_row_item__content__title {
  font-size: 12px;
  color: var(--color-a-cold-gray-700);
}

.container_row_item__content__date {
  font-size: 9px;
  color: var(--color-a-cold-gray-700);
}

.wrong-text {
  color: var(--color-a-red-300);
}

.column {
  flex-direction: column;
}

.thin-text {
  font-weight: 200;
}

.workspace-container__content__right-side__chat-right-side__container__articles-list {
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.workspace-container__content__right-side__chat-right-side__container__articles-list__item {
  background-color: #fff;
  border-radius: 12px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--border-color);
  flex: 1;
  height: 65px;
  gap: 4px;
}

.workspace-container__content__right-side__chat-right-side__container__articles-list__item-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  flex: 1;
}

.workspace-container__content__right-side__chat-right-side__container__articles-list__item
  img {
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  background-color: #d6e1ec;
  color: var(--color-a-cold-gray-600);
  padding: 2px 4px;
  border-radius: 8px;
  width: fit-content;
  padding: 3px 4px 2px;
  font-size: 12px;
}

.label__text {
  font-size: 9px;
}

.label__text {
  font-weight: 600;
}

.workspace-container__content__right-side__chat-right-side__container__articles-list__item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: var(--color-a-cold-gray-700);
}

.workspace-container__content__right-side__chat-right-side__container__articles-list__item__content__date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
