:root {
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --primary-color: #e0001a;
  --outline-color: #2055cd;
  --error-color: #e0001a;
  --success-color: #00702c;
  --text-color: var(--color-a-cold-gray-900);
}

.dark {
  --menu-container-background-color: #1a1a1a;
  --menu-container-header-background-color: #032949;
  --color-a-cold-gray-600: #ffffff;
  --color-a-cold-gray-400: #ffffff;
  --color-a-cold-gray-800: #ffffff;
  --text-color: var(--color-a-cold-gray-1000);
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../nomenklatura_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px auto;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--color-a-cold-gray-600);
  border-radius: 8px 8px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Style do poszczególnych modułów */
.menu-container__content-ean-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.menu-container__content-ean-item__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
  margin: 0 12px;
}

.ean-item-error span {
  color: var(--error-color);
}

.ean-item-success span {
  color: var(--success-color);
}

.menu-container__content-ean-item__input-container__input-wrapper {
  margin-top: 4px;
  position: relative;
}

.menu-container__content-ean-item__input-container__input-wrapper input {
  width: 100%;
  height: 38px;
  outline: none;
  border-radius: 12px;
  box-shadow: none;
  border: 1px solid var(--color-a-cold-gray-400);
  padding: 0 8px;
  color: var(--color-a-cold-gray-800);
  background-color: var(--menu-container-background-color);
}

.ean-item-error input {
  border-color: var(--error-color);
}

.ean-item-success input {
  border-color: var(--success-color);
}

.menu-container__content-ean-item__input-container__input-wrapper button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.menu-container__content-ean-item__input-container__input-wrapper:hover button {
  opacity: 1;
}

.menu-container__content-ean-item__input-container__input-error {
  margin-top: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.menu-container__content-ean-item__drag-n-drop-icon {
  cursor: pointer;
}

.menu-container__content-add-new-ean-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url(./../line-bg.svg);
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.menu-container__content__checkbox_header {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.menu-container__content__checkbox_header__checkbox {
  width: 16px;
  height: 16px;
}

.menu-container__content__item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-a-cold-gray-400);
  border-radius: 12px;
  margin-top: 12px;
}

.menu-container__content__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  gap: 8px;
}

.menu-container__content__item__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-top: 1px solid var(--color-a-cold-gray-400);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0 0 12px 12px;
}

.footer-success {
  background-color: #e6f1dd;
  color: #00250f;
}

.menu-container__content__item__header img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--color-a-cold-gray-400);
}

.menu-container__content__item__header-content {
  flex: 1;
}

.menu-container__content__top {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu-container__content__bottom__button-switch-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-container__content__bottom__button-switch-container__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-container__content__bottom__button-switch-container__item__switch {
  width: 38px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: relative;
}

.menu-container__content__bottom__button-switch-container__item__switch__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--color-a-cold-gray-1000);
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}

.menu-container__content__bottom__drag-n-drop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-a-cold-gray-400);
  border-radius: 12px;
  padding: 32px 12px;
  margin-top: 12px;
}

.menu-container__content__bottom__button {
  width: 100%;
  margin-top: 24px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--color-a-cold-gray-1000);
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  transition: background-color 0.2s ease-in-out;
}
